In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
file_path = './../data/MentalHealthSurvey.csv'
df = pd.read_csv(file_path)
df.head()

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment
2,Male,20,FAST,Undergraduate,Computer Science,3rd year,2.5-3.0,Off-Campus,No,1-3 times,...,5,5,5,3,4,2,3,3,1,"Religious Activities, Sports and Fitness, Onli..."
3,Male,20,UET,Undergraduate,Computer Science,3rd year,2.5-3.0,On-Campus,No,No Sports,...,3,5,4,4,1,5,5,5,3,Online Entertainment
4,Female,20,UET,Undergraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,Yes,No Sports,...,3,5,5,2,3,5,5,4,4,Online Entertainment

In [21]:
tmp = df.isnull().sum().to_frame().T
tmp['age'].values[0]

0

In [22]:
def show_info_of_a_column(column_name, df) -> pd.DataFrame:
	tmp = df.isnull().sum().to_frame().T
	null_values = tmp[column_name].values[0]
	data_type = df[column_name].dtype
	num_unique_value = df[column_name].nunique()
	tmp_df = pd.DataFrame({"Number of Null values": null_values, "Data Type": data_type, "Number of unique values": num_unique_value})
	return tmp_df

In [59]:
df.isnull().sum()['gender']

0

In [56]:
list_nunique = []
for col in df.columns:
	list_dtypes.append(df[col].dtype)

AttributeError: 'DataFrame' object has no attribute 'unique'

In [54]:
list_dtypes

[dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O')]